################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoursquareApi.Client/bin
/FoursquareApi.Client/obj
/.vs/FoursquareApi/DesignTimeBuild
